<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<script data-goatcounter="https://ruqi.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<div id="sfcdq7wt4ezqd7b8ydwxe6uld9dp928edj5"></div>
<script type="text/javascript" src="https://counter11.optistats.ovh/private/counter.js?c=dq7wt4ezqd7b8ydwxe6uld9dp928edj5&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="free hit counter"><img src="https://counter11.optistats.ovh/private/freecounterstat.php?c=dq7wt4ezqd7b8ydwxe6uld9dp928edj5" border="0" title="free hit counter" alt="free hit counter"></a></noscript>
<!-- end custom footer snippets -->
